body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* My additional */

/* .todo-item {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  margin-right: 10px;
}

.delete {
  margin-left: auto;
}

.completed .todo-title {
  color: #ccc;
  text-decoration: line-through;
}

.todo-title {
  line-height: 21px;
} */